* {
box-sizing:border-box;
}


body {

margin:0;

background:#050505;

color:#e6e6e6;

font-family:"Courier New", monospace;

overflow:hidden;

}




/* STARTUP */


#startup {

position:fixed;

inset:0;

background:black;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

z-index:10;

transition:opacity 1s;

}





#startupGif {

position:absolute;

width:100%;

height:100%;

object-fit:cover;

}





#idleGif {

display:none;

width:300px;

filter:drop-shadow(0 0 25px cyan);

animation:glitch 3s infinite;

}




#startText {

display:none;

position:absolute;

bottom:80px;

letter-spacing:4px;

color:white;

animation:blink 1.5s infinite;

}




@keyframes blink {

50% {

opacity:.3;

}

}





@keyframes glitch {


0% {

transform:translate(0);

}


20% {

transform:translate(-3px,2px);

}


40% {

transform:translate(3px,-2px);

}


60% {

transform:translate(-2px,0);

}


100% {

transform:translate(0);

}


}






/* APP */


#app {

height:100vh;

display:flex;

opacity:0;

transition:opacity 1s;

}





#sidebar {

width:230px;

background:#080808;

border-right:1px solid #222;

transition:.4s;

}





#sidebar.collapsed {

width:60px;

}





#menu {

width:100%;

height:50px;

background:none;

border:none;

color:white;

font-size:25px;

cursor:pointer;

}





nav button {


width:100%;

padding:15px;

background:none;

border:none;

color:#aaa;

text-align:left;

cursor:pointer;


}




nav button:hover {


background:#111;

color:#00ffff;


}





main {


flex:1;

display:flex;

flex-direction:column;


}




header {


height:55px;

border-bottom:1px solid #222;

display:flex;

align-items:center;

justify-content:space-between;

padding:10px 20px;


}





header input {


width:350px;

background:#111;

border:1px solid #333;

color:white;

padding:10px;


}





#status {


color:#00ff88;


}





#workspace {


flex:1;

display:flex;

gap:15px;

padding:15px;


}





.panel {


background:#090909;

border:1px solid #222;

padding:15px;


}





.map {

flex:2;

}





.tools {

flex:1;

}





.placeholder {


height:90%;

display:flex;

align-items:center;

justify-content:center;

color:#555;


}





footer {


height:35px;

border-top:1px solid #222;

padding:10px;

color:#777;


}
